* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Montserrat, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h2, h3 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}

/* task-1 */

#categories {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
h2 {
  font-family: "Montserrat", "SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.list-anim {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
}
.list-prod {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 216px;
}
.list-techno {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 312px;
}
.item-name {
  width: 360px;
  height: 40px; 
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  font-family: "Montserrat", "Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 0 8px 16px;
}

/* task-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  width: 1440px;
  height: auto;
  background: #fff;
  list-style: none;
  padding: 100px 156px;
}

.gallery li {
  flex: calc(100% - 48px) / 2;
}

.gallery img {
  width: 360px;
  height: 300px;
  display: block;
}

/* task-3 */

.container {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 136px;
}
#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

#name-input::placeholder {
  font-family: "Montserrat", "Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 0 8px 16px;
}
h1 {
  font-family: "Montserrat", "SemiBold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}
 #name-output {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 */

.login-form {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  font-family: "Montserrat", "Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.email {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin: 8px 0;
  padding: 8px 0 8px 16px;
}
.email:hover {
  border: 1px solid #000;
 }

.email:active:placeholder {
  content: "Type area";
  font-family: "Montserrat", "Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: 1px solid #2e2f42;
 }
.pass {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin: 8px 0;
  padding: 8px 0 8px 16px;
}

.text-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  border: none;
  margin-top: 8px;
  font-family: "Montserrat", "Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.text-btn:hover,
.text-btn:focus {
  background: #6c8cff;
 }



/* task-5 */

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background: #fff;
  padding: 100px 88px;
}

.widget-title {
  margin: 0;
  width: 169px;
  font-family: "Montserrat", "Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.change-color {
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  padding: 8px 0;
  font-family: "Montserrat", "Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.change-color:hover {
  background-color: #6c8cff;
}
/* task-6 */

.wrapper {
  border-radius: 8px;
  padding: 24px;
  width:534px;
  height: auto;
  background-color: #fff;
}

#controls {
  background: #f6f6fe;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap:16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: auto;
  margin-bottom: 16px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input {
  margin: 0;
  width: 150px;
  padding: 8px 55px;
  border-radius: 8px;
  border: 1px solid #808080;
  font-family: "Montserrat", "Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  сolor: #2e2f42;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
}
.controls-creat {
  font-family: "Montserrat", "Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.controls-creat:hover {
  background: #6c8cff;
}
.controls-dest {
  font-family: "Montserrat", "Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background: #ff4e4e;
  color: #fff;
  border: none;
}
.controls-dest:hover {
  background: #ff7070;
}
#boxes {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 44px;
 }